<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khách Hàng</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="/khachhang/css/style.css">
    <link rel="stylesheet" href="/khachhang/css/food.css">
    <link rel="stylesheet" href="/khachhang/css/cart.css">

    <!-- BS5 CSS & JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer> </script>
</head>

<body>
    <div class="container-fuild">
        <div class="row g-0">
            <!-- Content Section -->
            <div class="col-8">
                <h4 class="ms-4 my-0 p-2" style="color: #2c3a57;"><%= tableInfo.ten_ban %></h4>

                <!-- Navs bar -->
                <nav class="py-2" style="background-color: #f8f8f8;">
                    <div class="d-flex align-items-center w-100">
                        <button class="nav-arrow" id="prevBtn" disabled>
                            <i class="bi bi-chevron-left"></i>
                        </button>

                        <div class="menu-container" id="menuContainer">
                            <!-- EJS sẽ render ra danh sách nav item -->
                            <% for (let i = 0; i < groups.length; i++) { %>
                            <button class="menu-btn" data-index="<%= i %>">
                                <img src="/group/<%= groups[i].hinh_anh %>" alt="<%= groups[i].hinh_anh %>">
                                <h6 class="mb-0 mt-2"><%= groups[i].ten_nhom %></h6>
                            </button>
                            <% } %>
                        </div>

                        <button class="nav-arrow ms-auto" id="nextBtn">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </nav>

                <div class="d-flex p-3" style="background-color: #f8f8f8;">
                    <span class="h5" id="nav-item-label">Cupcake</span>
                    <hr class="flex-grow-1 ms-2">
                </div>

                <!-- Food items -->
                <div class="container" style="background-color: #f8f8f8; min-height: 70vh;">
                    <div class="row g-3" id="food-items">
                        <!-- JS sẽ render ra danh sách món tại đây -->

                    </div>
                </div>
            </div>

            <!-- Cart Section -->
            <div class="col-4 shadow-lg cart-sidebar">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" data-bs-toggle="tab" href="#dat-mon">Đặt món</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="tab" href="#mon-da-dat">Món đã được đặt</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Tab 1 -->
                    <div class="tab-pane container active p-0" id="dat-mon">
                        <ul class="list-group cart-list flex-fill" id="cart-items">
                            <!-- Danh sách món ăn sẽ được thêm động bằng JS -->

                        </ul>

                        <div class="cart-footer p-2">
                            <div class="cart-total">
                                <p class="my-2">Tổng Tiền: <span id="pre-cart-total" class="text-danger float-end">0đ</span></p>
                                <small class="my-1 float-end">Chi phí trên đã bao gồm 10% thuế VAT.</small>
                            </div>
                            <button class="payment-btn fw-bold w-100 bg-primary text-white border-0 p-2 rounded-3 mb-2" id="confirm-btn">XÁC NHẬN</button>
                        </div>
                    </div>

                    <!-- Tab 2 -->
                    <div class="tab-pane container fade p-0" id="mon-da-dat">
                        <ul class="list-group cart-list flex-fill" id="ordered-cart-items">
                            <!-- JS render ra danh sách món ăn tại đây -->

                        </ul>

                        <div class="cart-footer p-2">
                            <div class="cart-total">
                                <p class="my-2">Tổng Tiền: <span id="ordered-cart-total" class="text-danger float-end">0đ</span></p>
                                <small class="my-1 float-end">Chi phí trên đã bao gồm 10% thuế VAT.</small>
                            </div>
                            <button class="payment-btn fw-bold w-100 bg-danger text-white border-0 p-2 rounded-3 mb-2" id="confirm-btn">THANH TOÁN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dishes-data-json" style="display:none;"><%- JSON.stringify(dishes) %></div>

    <!-- Detail Modal -->
    <div class="modal fade" id="detail-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <!-- Modal Header -->
                <div class="modal-header border-0 py-2" style="background-color: #f0f0f0;">
                    <h5 class="modal-title">Chi tiết món ăn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body row">
                    <!-- Image -->
                    <div class="col-4">
                        <img src="" class="img-fluid rounded-3 mb-3" style="max-height: 130px;" alt="Món ăn">
                    </div>

                    <!-- Info -->
                    <div class="col-8">
                        <h4 class="fw-bold fs-6 text-dark">Cơm Cà Ri Gà</h4>
                        <p class="text-danger fw-bold text-end">75.000đ</p>

                        <div class="d-flex align-items-center justify-content-between">
                            <label class="me-2 fw-semibold">Số lượng:</label>

                            <div class="quantity-controls d-flex align-items-center">
                                <button class="decrease-btn">-</button>
                                <input type="number" class="form-control text-center border-0" value="1" min="1" style="width: 50px;">
                                <button class="increase-btn text-danger border-danger">+</button>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Footer -->
                <div class="footer px-3">
                    <!-- Note -->
                    <div class="mb-3">
                        <label for="note" class="fw-semibold mb-1">Ghi chú:</label>
                        <textarea id="note" rows="2" class="form-control" placeholder="Nhập ghi chú cho món ăn (nếu có)"></textarea>
                    </div>

                    <!-- Add to cart -->
                    <button type="button" class="btn btn-danger w-100 mb-3" id="add-to-cart">
                        <i class="bi bi-cart-plus me-1"></i> Thêm vào giỏ hàng
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="update-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <!-- Modal Header -->
                <div class="modal-header border-0 py-2" style="background-color: #f0f0f0;">
                    <h5 class="modal-title">Sửa thông tin món ăn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body row">
                    <!-- Image -->
                    <div class="col-4">
                        <img src="" class="img-fluid rounded-3 mb-3" style="max-height: 130px;" alt="Món ăn">
                    </div>

                    <!-- Info -->
                    <div class="col-8">
                        <h4 class="fw-bold fs-6 text-dark">Cơm Cà Ri Gà</h4>
                        <p class="text-danger fw-bold text-end">75.000đ</p>

                        <div class="d-flex align-items-center justify-content-between">
                            <label class="me-2 fw-semibold">Số lượng:</label>

                            <div class="quantity-controls d-flex align-items-center">
                                <button class="decrease-btn">-</button>
                                <input type="number" class="form-control text-center border-0" value="1" min="1" style="width: 50px;">
                                <button class="increase-btn text-danger border-danger">+</button>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Footer -->
                <div class="footer px-3">
                    <!-- Note -->
                    <div class="mb-3">
                        <label for="note" class="fw-semibold mb-1">Ghi chú:</label>
                        <textarea id="note" rows="2" class="form-control" placeholder="Nhập ghi chú cho món ăn (nếu có)"></textarea>
                    </div>

                    <!-- Add to cart -->
                    <button type="button" class="btn btn-warning w-100 mb-3" id="save">
                        Lưu thay đổi
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- My JS -->
    <script src="/khachhang/js/foodCard.js"></script>
    <script src="/khachhang/js/nav.js"></script>
    <script src="/khachhang/js/cart.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/khachhang/js/socket.js"></script>
</body>

</html>