<!-- Account tab -->
<% function getName(maNhomQuyen) {
    if (maNhomQuyen === 1) {
        return "Admin";
    } else if (maNhomQuyen === 2) {
        return "Nhân Viên";
    } else if (maNhomQuyen === 3) {
        return "Bếp";
    }
} %>

<div class="tab-pane fade" id="account">
    <header>
        <h3>Tài khoản</h3>
    </header>

    <div class="text-end">
        <button class="btn btn-primary my-2 me-3 ms-auto" id="add-account-btn" data-bs-toggle="modal" data-bs-target="#add-account-modal">Thêm tài khoản</button>
    </div>

    <div class="table-container p-3 border border-1">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" placeholder="Tìm kiếm..." aria-label="Search" />
        </div>

        <table class="table table-bordered mt-3" id="taikhoan-table">
            <thead>
                <tr>
                    <th style="width: 15%;">Mã tài khoản</th>
                    <th>Tên đăng nhập</th>
                    <th style="width: 20%;">Nhóm quyền</th>
                    <th style="width: 25%;">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <% for (const taikhoan of taiKhoans) { %>
                    <tr>
                        <td><%= taikhoan.ma_tai_khoan %></td>
                        <td><%= taikhoan.username %></td>
                        <td><%= getName(taikhoan.ma_nhom_quyen) %></td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center" data-id="<%= taikhoan.ma_tai_khoan %>" data-username="<%= taikhoan.username %>" data-role="<%= taikhoan.ma_nhom_quyen %>">
                                <button class="btn btn-warning update-account-btn">Cập nhật</button>
                                <button class="btn btn-danger delete-account-btn">Xóa</button>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <ul class="pagination justify-content-end pt-3" id="account-pagination">
        <% const numberOfTaiKhoan = Math.ceil(taiKhoanCount / 8) %>
        <li class="page-item prev-btn"><a class="page-link" href="#">Trang trước</a></li>
        <li class="page-item page-item-btn active" data-page="1"><a class="page-link" href="#">1</a></li>
        <% for (let i = 2; i <= numberOfTaiKhoan; i++) { %>
            <li class="page-item page-item-btn" data-page="<%= i %>"><a class="page-link" href="#"><%= i %></a></li>
        <% } %>
        <li class="page-item next-btn"><a class="page-link" href="#">Trang sau</a></li>
    </ul>

    <div class="modal" id="add-account-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm tài khoản</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="">
                        <label class="form-label">Tên đăng nhập</label><br>
                        <input type="text" class="form-control input-username"><br>

                        <label class="form-label">Mật khẩu</label><br>
                        <input type="password" class="form-control input-password"><br>

                        <label class="form-label">Nhập lại mật khẩu</label><br>
                        <input type="password" class="form-control input-cfpassword"><br>

                        <label class="form-label">Nhóm quyền</label><br>
                        <select class="form-select">
                            <option value="1">Admin</option>
                            <option value="2">Nhân viên</option>
                            <option value="3">Bếp</option>
                        </select>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary save">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="update-account-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin tài khoản</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="">
                        <label class="form-label">Tên đăng nhập</label><br>
                        <input type="text" class="form-control input-username"><br>

                        <label class="form-label">Mật khẩu mới</label><br>
                        <input type="password" class="form-control input-new-password"><br>

                        <label class="form-label">Nhóm quyền</label><br>
                        <select class="form-select">
                            <option value="1">Admin</option>
                            <option value="2">Nhân viên</option>
                            <option value="3">Bếp</option>
                        </select> <br>

                        <label class="form-label fw-bold text-danger">Mật khẩu của admin (*)</label><br>
                        <input type="password" class="form-control input-admin-password"><br>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary save">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="delete-account-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Xác nhận xóa</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa tài khoản có username <span class="fw-bold text-danger account-name"></span> không?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                    <button type="button" class="btn btn-danger yes">Có</button>
                </div>
            </div>
        </div>
    </div>
</div>