<!-- Invoice tab -->
<div class="tab-pane fade" id="invoice">
    <header>
        <h3>Hóa đơn</h3>
    </header>

    <div class="table-container p-3 border border-1">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" placeholder="Tìm kiếm..." aria-label="Search" />
        </div>

        <table class="table table-bordered mt-3" id="invoice-table">
            <thead>
                <tr>
                    <th style="width: 15%;">Mã hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Tổng tiền</th>
                    <th>Thời gian tạo</th>
                    <th>Hình thức thanh toán</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <% for (const hoadon of hoaDons) { %>
                    <tr>
                        <td><%= hoadon.ma_hoa_don %></td>
                        <td><%= hoadon.ten_khach_hang %></td>
                        <td><%= hoadon.so_dien_thoai %></td>
                        <td><%= hoadon.tong_tien.toLocaleString("vi-VN") %>đ</td>
                        <td><%= hoadon.thoi_gian_tao %></td>
                        <td><%= hoadon.hinh_thuc_thanh_toan %></td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center" data-id="<%= hoadon.ma_hoa_don %>">
                                <button class="btn btn-success view-invoice-btn">Xem</button>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <ul class="pagination justify-content-end pt-3" id="invoice-pagination">
        <% const numberOfHoaDon = Math.ceil(hoaDonCount / 8) %>
        <li class="page-item prev-btn"><a class="page-link" href="#">Trang trước</a></li>
        <li class="page-item page-item-btn active" data-page="1"><a class="page-link" href="#">1</a></li>
        <% for (let i = 2; i <= numberOfHoaDon; i++) { %>
            <li class="page-item page-item-btn" data-page="<%= i %>"><a class="page-link" href="#"><%= i %></a></li>
        <% } %>
        <li class="page-item next-btn"><a class="page-link" href="#">Trang sau</a></li>
    </ul>

    <div class="modal" id="view-invoice-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin hóa đơn</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="">
                        <label for="invoice-name" class="form-label">Tên khách hàng</label><br>
                        <input type="text" class="form-control input-name" name="invoice-name" disabled><br>

                        <label for="invoice-phone" class="form-label">Số điện thoại</label><br>
                        <input type="text" class="form-control input-phone" name="invoice-phone" disabled><br>

                        <label for="invoice-time" class="form-label">Thời gian tạo</label><br>
                        <input type="text" class="form-control input-time" name="invoice-time" disabled><br>

                        <label for="invoice-payment" class="form-label">Hình thức thanh toán</label><br>
                        <input type="text" class="form-control input-payment" name="invoice-payment" disabled><br>

                        <label for="rank" class="form-label fw-bold">CHI TIẾT HÓA ĐƠN</label><br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên món ăn</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Ramen <br>
                                        <span class="note">K Hành, K Cay</span>
                                    </td>
                                    <td>76.000</td>
                                    <td>1</td>
                                    <td>76.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>