<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Admin Quản Lý Doanh Thu</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <li><a href="/admin/quan-ly-nhan-vien">Quản Lý Nhân Viên</a></li>
          <li><a href="/admin/doanh-thu">Hóa Đơn</a></li>
          <li>
            <a href="/admin/danh-gia-khach-hang">Đánh Giá Của Khách Hàng</a>
          </li>
          <li><a href="/admin/sanpham">Quản Lý Sản Phẩm</a></li>
        </ul>
      </nav>
    </header>
    <section id="quan-ly-doanh-thu">
      <h2>Quản Lý Hóa Đơn</h2>
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="Tìm kiếm theo tên khách hàng hoặc mã hoá đơn..."
        />
        <button id="search-button">Tìm kiếm</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>MÃ HOÁ ĐƠN</th>
            <th>TÊN KHÁCH HÀNG</th>
            <th>CHIẾU KHẤU</th>
            <th>THÀNH TIỀN</th>
            <th>TỔNG TIỀN</th>
            <th>TRẠNG THÁI THANH TOÁN</th>
            <th>ĐIỂM TÍCH LŨY</th>
            <th>HÀNH ĐỘNG</th>
          </tr>
        </thead>
        <tbody>
          <% revenues.forEach((revenue) => { %>
          <tr>
            <td><%= revenue.id_HoaDon || 'N/A' %></td>
            <td><%= revenue.TenKhachHang || 'Chưa có tên khách hàng' %></td>
            <td><%= revenue.ChieuKhau || '0' %></td>
            <td><%= revenue.ThanhTien || '0' %></td>
            <td><%= revenue.TongTien || '0' %></td>
            <td><%= revenue.TrangThaiThanhToan || 'Chưa thanh toán' %></td>
            <td><%= revenue.DiemTichLuy || '0' %></td>
            <td>
              <button class="btn-delete" data-id="<%= revenue.id_HoaDon %>">
                Xóa
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <!-- Phân trang -->
      <div id="pagination" class="pagination">
        <% if (currentPage > 1) { %>
        <a href="/admin/doanh-thu?page=<%= currentPage - 1 %>">Previous</a>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <a
          href="/admin/doanh-thu?page=<%= i %>"
          class="<%= i === currentPage ? 'active' : '' %>"
        >
          <%= i %>
        </a>
        <% } %> <% if (currentPage < totalPages) { %>
        <a href="/admin/doanh-thu?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
      </div>
    </section>
  </body>
  <script src="main.js"></script>
</html>
