<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Admin Quản Lý Nhân Viên</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <li><a href="/admin/quan-ly-nhan-vien">Quản Lý Nhân Viên</a></li>
          <li><a href="/admin/doanh-thu">Doanh Thu</a></li>
          <li>
            <a href="/admin/danh-gia-khach-hang">Đánh Giá Của Khách Hàng</a>
          </li>
          <li><a href="/admin/sanpham">Quản Lý Sản Phẩm</a></li>
        </ul>
      </nav>
    </header>
    <section id="quan-ly-nhan-vien">
      <h2>Quản Lý Nhân Viên</h2>
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="Tìm kiếm theo họ tên hoặc mã nhân viên..."
        />
        <button id="search-button">Tìm kiếm</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>MÃ NV</th>
            <th>HỌ TÊN</th>
            <th>NGÀY SINH</th>
            <th>ĐỊA CHỈ</th>
            <th>SĐT</th>
            <th>CCCD</th>
            <th>CHỨC VỤ</th>
            <th>HÀNH ĐỘNG</th>
          </tr>
        </thead>
        <tbody>
          <% employees.forEach((employee) => { %>
          <tr>
            <td><%= employee.MaNV %></td>
            <td><%= employee.HoTen %></td>
            <td><%= employee.NgaySinh %></td>
            <td><%= employee.DiaChi %></td>
            <td><%= employee.SDT %></td>
            <td><%= employee.CCCD %></td>
            <td><%= employee.ChucVu %></td>
            <td>
              <button class="btn-delete" data-id="<%= employee.MaNV %>">
                Xóa
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <!-- Phân trang -->
      <div id="pagination" class="pagination">
        <% if (currentPage > 1) { %>
        <a href="/admin/quan-ly-nhan-vien?page=<%= currentPage - 1 %>"
          >Previous</a
        >
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <a
          href="/admin/quan-ly-nhan-vien?page=<%= i %>"
          class="<%= i === currentPage ? 'active' : '' %>"
        >
          <%= i %>
        </a>
        <% } %> <% if (currentPage < totalPages) { %>
        <a href="/admin/quan-ly-nhan-vien?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
      </div>
    </section>
  </body>
  <script src="main.js"></script>
</html>
